body {
  font: 20px arial, serif;
  background-image: url('../images/fur.jpg');
  height: 100%;
}

form {
  font-family: 'IBM Plex Mono', monospace;
  float: none;
  width: 25%;
  padding: 12px;
}

label {
  font-family: 'IBM Plex Mono', monospace;
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}
p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  color: white;
  margin-top: 12px;
}
button {
  font-family: 'IBM Plex Mono', monospace;
  padding: 10px 15px;
  font: 18px arial, serif;
  color: white;
  background: teal;
  margin: 8px;
}
.title {
  font-family: 'IBM Plex Mono', monospace;
  color: white;
  text-align: center;
  float: none;
}

.animal-button {
  font-family: 'IBM Plex Mono', monospace;
  color: white;
  padding: 15px;
  margin: 12px;
}

#animal-buttons {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 70%;
}

.row {
  margin-bottom: 15px;
  align-content: center;
}
