body {
  font: 20px arial, serif;
  background: lightcyan;
  height: 100%;
}

form {
  float: none;
  width: 25%;
  padding: 12px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}

button,
#submit-animal-button {
  padding: 10px 15px;
  font: 18px arial, serif;
  color: white;
  background: teal;
  margin: 8px;
}
.title {
  text-align: center;
  float: none;
}

.animal-button {
  padding: 15px;
  margin: 12px;
}

#animal-buttons {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  float: none;
  padding: 20px;
  width: 70%;
}

.row {
  margin-bottom: 15px;
  align-content: center;
}

/* .col-sm-6 {
  align-content: center;
  margin-left: auto;
  
  display: inline-block;
} */
